/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  line-height:1.5em;
  text-align: justify;
  margin: 10px auto;
  padding: 1em;
  color: $text-color;
  background-image: url("/images/bright_squares.png");
  background-attachment: fixed;
  -webkit-text-size-adjust: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  color: #111;
  font-family: "Dosis-Medium", serif;
  line-height: 1em;
}
h4,h5,h6{ font-weight: bold; }
h1{ font-size: 2.5em; }
h2{ font-size: 2em; }
h3{ font-size: 1.5em; }
h4{ font-size: 1.2em; }
h5{ font-size: 1em; }
h6{ font-size: 0.9em; }

b, strong { font-weight: bold; }
dfn { font-style: italic; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
li p:last-child { margin:0 }
dd { margin: 0 0 0 2em; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

@media only screen and (min-width: 480px) {
  body{font-size:14px;}
}

@media only screen and (min-width: 768px) {
  body{font-size:16px;}
}

@media only screen and (min-width: -px) {
  body{font-size:25px;}
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: "#0b0080";
  }

  &:hover {
    color: "#06e";
  }

  &:active {
    color: "#faa700";
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover, &:active {
    outline: 0;
  }
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Code formatting
 *
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 1px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
*/


/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/* blog overview */
div.entry-overview                  { margin: 25px 122px 25px 102px; }
div.entry-overview h1,
div.entry-overview div.summary,
div.entry-overview div.summary p    { display: inline; line-height: 25px; }
div.entry-overview h1               { margin: 0; font-size: 17px; font-weight: 700;
                                      font-family: 'Roboto', sans-serif; }
div.entry-overview h1:after         { content: " —"; }
div.entry-overview div.summary,
div.entry-overview div.date,
div.entry-overview div.summary p    { margin: 0; padding: 0; }
div.entry-overview div.detail       { margin-left: 140px; }
div.entry-overview div.date         { float: left; width: 120px; color: #CC0033;
                                      text-align: right; font-size: 14px; }

span.backtick {
  border:1px solid #EAEAEA;
  border-radius:3px;
  background:#F8F8F8;
  padding:0px 3px 0px 3px;
}

::-moz-selection {
  background:rgba(255,255,0,0.3)
}

::selection {
  background:rgba(255,255,0,0.3);
}

a::-moz-selection {
  background: rgba(255,255,0,0.3);
  color: #0645ad
}

a::selection {
  background: rgba(255,255,0,0.3);
  color: #0645ad
}

p {
  margin:1em 0;
}

/* code formatting.  no monospace because of webkit (bug?) */
pre, code, tt {
  font-family:
    'Hack',
    'Ubuntu Mono',
    'Consolas',
    'Deja Vu Sans Mono',
    'Bitstream Vera Sans Mono',
    'Monaco',
    'Courier New';
  font-size: 0.9em;
}

table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  background: #fafafa;
}

td, th {
  border: 1px solid #ddd;
}

/* other alignment things */
img.align-center {
  margin: 15px auto;
  display: block;
}

/* pagination */
div.pagination {
  margin: 36px 0 0 0;
  text-align: center;
}

div.pagination strong {
  font-weight: normal;
  font-style: italic;
}

/* tags */
p.tags {
  text-align: right;
}

ul.tagcloud {
  font-size: 16px;
  margin: 36px 0;
  padding: 0;
  list-style: none;
}

ul.tagcloud li {
  margin: 0;
  display: inline;
}

/* latex math */
span.math img   { margin-bottom: -7px; }

a[class^="icon-"]{
  text-decoration: none;
  vertical-align: middle;
  font-size: 30px;
}

.avatar-circle {
  width: 80px;
  border-radius: 40px;
  box-shadow: 1px 1px 10px;
}
/*
.lineno {
  border-right: 3px solid #D6D6D6 !important;
  padding-right: 5px;
}
*/
$terminal-window-height: 30px;
$border-color: #d7d8da;
$border-radius: .25em;
$base-color: #393e46;

code.highlighter-rouge {
  border: 1px solid black;
  padding: .2em;
  border-radius: .2em;
  color: white;
  background-color: #393e46;
}

div.language-terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: (0.5 * $terminal-window-height) 0;
  background: mix($base-color, #fff, 25%);
  color: mix($base-color, #fff, 50%);
  font-size: 2em;
  line-height: 0;
  text-indent: (0.5 * $terminal-window-height);
}

div.highlighter-rouge {
  position: relative;
  margin-bottom: 1.5em;
  padding: 3em 1em 1em;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 0.25em 1em rgba($base-color, 0.25);
  background-color: $base-color;
  line-height: .9em;
  overflow-x: auto;

  .highlight {
    margin: 0;
    padding: 0;
    background-color: initial;
    color: #fff;
  }
}
